.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Gap between columns */
    margin-top: 20px; /* Adjust margin as needed */
    background-color: black; /* Set background color */
    color: white; /* Set text color */
  }
  
  .text-container {
    margin-top: 5%;
    padding: 20px;
    text-shadow: 0 0 20px #b21204;
    font-family: 'Righteous', sans-serif;
    color:white;
  }
  
  
  .video-container {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
  }
  
  .title {
    font-size: xx-large;
    font-weight: bold;
    
    text-align: center;
    
  }
  
  .description {
    font-size: 18px;
    text-shadow: 0 0 20px #b21204;
    font-family: 'Righteous', sans-serif;
    text-align: center;
  }
  
  .video-overlay {
    margin-right: 5%;
    width: 100%; /* Make the video fill the container */
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .services-container {
      grid-template-columns: 1fr; /* Single column layout */
    }
    .video-overlay {
        margin-right: 0%;
    }
  }