
.about-container {
    padding: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px #b21204;
    font-size: xx-large;
    color: white;
    text-shadow: 0 0 20px #b21204;
  }
  
  .about-description {
    font-size: 1rem;
    color: #ffffff;
   
    text-shadow: 0 0 20px #b21204;
    margin-bottom: 2rem;
    max-width: 50%; 
    margin-left: auto; 
  margin-right: auto;
  }
  
  .about-image {
    max-width: 100%;
    height: auto; 
  }
  
 
  @media only screen and (max-width: 768px) {
    
  
    .about-description {
      max-width: 100%;
    }
  }
  