.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family: 'Exo 2', sans-serif;
    background-color: black;
  }
  .footfont {
    color: white;
    text-decoration: none;
  }
  